/*retina display*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .uifm-loader-header-1{
        background: url('../image/ajax-loader-black@2x.gif') no-repeat 0 0 transparent;
    }
    .uiform-gridsytem-table .JCLRgrip{
        background: url('../img/uiform-grid-intersect@2x.png') repeat-y 0 0 transparent;
    }
    .uiform-newform-help-highlight{
    background: url('../image/help-corchete@2x.png') no-repeat 10px 5px transparent;
    }
}
/* responsive*/
@media only screen and (min-width:0px) and (max-width:410px) {
    /*menu*/
    .divider-menu{
        display:none!important;
    }
    .navbar-nav{
        margin:0px!important;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #FFFFFF;
    }
    
    body{
        overflow-x: scroll;
    }
   
    
}


@media only screen and (min-width:0px) and (max-width:768px) {
 
    
    body{
        overflow-x: scroll;
    }
   
    
}
@media only screen and (min-width: 486px) {

}
@media only screen and (min-width: 768px) {

}
@media only screen and (min-width: 1025px) {

}
@media only screen and (min-width: 1824px) {

}


/*--------------*/
@media (max-width: 479px) {
    
}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}


@media only screen and (max-width:1024px) {
}

@media only screen and (min-width:768px) and (max-width:959px) {
    
}

@media only screen and (max-width:767px) {
    
}

@media only screen and (min-width:0px) and (max-width:260px) {
    
}

@media only screen and (min-width:0px) and (max-width:410px) {
   
}