/*body*/
/*spaces*/
.space05 {
    height: 5px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.space10 {
    height: 10px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.space13 {
    height: 12px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.space20 {
    height: 20px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
}

.form-signin {
    margin: 5% auto;
    max-width: 360px;
    width: 95%;
}

.box-login {
    background-color: #3C3C3C !important;
    background-image: none !important;
    margin: 0 auto;
    max-width: 430px;
    padding: 15px;
}

.login-page {
    background-color: #3C3C3C !important;
    background-image: none !important;
    margin: 0 auto;
    
    padding: 15px;
}


/*PHP Form builder*/
.widget {
    overflow: visible;
}
/*edit field layout*/
#sd-fields-main ul,#sd-fields-main ol {
    margin: 0;
}

#sd-fields-available .dragList li {
    width: 93%;
}

#sd-fields-layout .dragList li {
    min-width: 150px;
}

.dragList li {
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    cursor: move;
    display: inline-block;
    line-height: 22px;
    margin: 1px 2px;
    outline: medium none;
    padding: 0;
    text-align: left;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.dragList li {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #50d2fa), color-stop(1, #50b1fa));
    background: -moz-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: -webkit-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: -o-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: -ms-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: linear-gradient(to bottom, #50d2fa 5%, #50b1fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50d2fa', endColorstr='#50b1fa',GradientType=0);
    background-color: #50d2fa;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}
.dragList li.conditional {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #C63B60), color-stop(1, #d94069))!important;
   background: -moz-linear-gradient(top, #C63B60 5%, #d94069 100%)!important;
    background: -webkit-linear-gradient(top, #C63B60 5%, #d94069 100%);
    background: -o-linear-gradient(top, #C63B60 5%, #d94069 100%);
    background: -ms-linear-gradient(top, #C63B60 5%, #d94069 100%);
    background: linear-gradient(to bottom, #C63B60 5%, #d94069 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#C63B60', endColorstr='#d94069',GradientType=0);
}
.field-cond-label{
    font-size: 0.9em;
    font-style: italic;
    padding: 5px;
}
.field-cond-label .fa-square{
    color:#d94069;
}
.dragPlace {
    background: #FFC!important;
    border: 1px solid #FC9!important;
    height: 40px!important;
    width: 230px;
}

.dragList {
    background-color: #EFEFEF;
    border: 1px dotted #DDDDDD;
    border-radius: 3px 3px 0 0;
    padding: 10px;
    min-height: 60px;
}

.wrap-draglist {
    position: relative;
    margin-bottom: 5px;
}

.wrap-draglist .add-row-field {
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    right: 0;
    bottom: 5px;
}

.dragcontainer .add-section-field {
    display: block;
    height: 15px;
    width: 15px;
    position: absolute;
    left: 1px;
    bottom: 2px;
    color: #fb9a38;
}

.dragcontainer .move-section-field {
    bottom: 2px;
    color: #FB9A38;
    display: block;
    height: 15px;
    left: 14px;
    position: absolute;
    width: 15px;
}

.dragcontainer {
    margin: 10px 10px 30px;
    padding: 50px 10px 20px;
    border: 2px dotted #FC9;
    background: #FFC;
    position: relative;
}

.dragcontainer ul {
    margin-right: 0!important;
    margin-left: 0!important;
}

.layout-field-input {
    position: absolute;
    top: 5px;
    left: 10px;
    width:98%;
}

.dragcontainer-plus {
    position: absolute;
    bottom: 0;
    right: 0;
}

/*pagination*/

/*sidebar*/
.sidebar-wrap .nav > li{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-image: -moz-linear-gradient(center top , #312F33 0%, #2E2C30 100%);
    border-color: #3B393D -moz-use-text-color #232124;
    border-image: none;
    border-left: medium none;
    border-right: medium none;
    border-style: solid none;
    border-width: 1px medium;
    border-radius: 4px;
    margin-bottom: 2px;
}
/*avatar*/
.user_profile {
    background-color: #272729;
    margin: 0;
    padding: 15px;
    width: 225px;
}

.user_profile h5 {
    color: rgba(255, 255, 255, 0.4);
    line-height: 16px;
    margin: 8px 0 0;
}

.user_profile img {
    border-radius: 150px 150px 150px 150px;
    float: left;
    height: 50px;
    margin: 0 15px 0 0;
    width: 50px;
}
/*header*/
.top-menu > ul > li > a {
    color: #FFFFFF;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
    position: relative;
    text-decoration: none;
}

.logo {
    color:#fff;
    font-weight: bold;
}



/*forms */
.widget-header {
    border-bottom: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF;
    position: relative;
    text-shadow: 0 1px #FFFFFF;
    background: -moz-linear-gradient(center top , #F8F8F8 0%, #E8E8E8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #636363;
    min-height: 51px;
}

.widget-header > i {
    font-size: 16px;
    padding: 15px 10px 15px 11px;
    text-align: center;
    width: 40px;
}

.widget-header > i, .widget-header h5 {
    color: #62687E;
    float: left;
    font-weight: 200;
}

.widget-header h5 {
    font-size: 16px;
    margin: 0;
    padding: 15px 0 0;
}

.widget-header > i, .widget-header h5 {
    color: #62687E;
    float: left;
    font-weight: 200;
}

.widget-buttons {
    float: right;
    padding: 15px 15px 0 0;
}

.widget-header a {
    color: #777777;
    cursor: pointer;
    font-size: 16px;
    margin: 0 0 0 8px;
    text-decoration: none;
}

.widget {
    background: none repeat scroll 0 0 #F7F7F7;
    border: 1px solid #CDCDCD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 2px 2px -2px #CCCCCC;
    position: relative;
}

.widget-body {
    padding: 14px 16px;
}

.widget-footer {
    padding: 14px 16px;
}
.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #FFFFFF;
}

/* image uploader*/
#field-image-preview{
    margin-bottom: 20px;
}
#field-image-preview img{
}
ul.inline,ol.inline {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0px !important;
}

ul.unstyled, ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
    padding-left: 0px !important;
}
.fields-gal-image ul.inline > li,.fields-gal-image  ol.inline > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
.fields-gal-image{}
.field-image-unit{
    position: relative;
}
.field-image-unit-options{
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 5px 0 0;
    bottom: 3px;
    position: absolute;
    right: 0;
}
.field-image-unit-options a:hover{
    text-decoration: none;
}
.field-image-unit img{width: 280px;height: 160px;}
.field-image-unit-2 img{width: 55px;height: 25px;}
/*responsive*/
@media (max-width: 480px) {
    .nav-profile{
        display:none!important;
    }
    .nav-collapse.collapse {
        position: static!important;
        width: auto!important;
    }
}
/* phone - tablet */
@media (max-width: 767px) {
    .nav-profile{
        display:none!important;
    }
    .nav-collapse.collapse {
        position: static!important;
        width: auto!important;
    }
}
/* table-landscape - desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .sidebar {
        width: 100%!important;
    }

    .nav-collapse.collapse {
        position: fixed;
        width: 150px;
        height: 100% !important;
        left: -150px;
    }
}

@media (min-width: 980px) and (max-width: 1200px) {
    .nav-collapse.collapse {
        position: fixed;
        width: 170px;
        height: 100% !important;
        left: 0!important;
    }
}

/* full windows */
@media (min-width: 1200px) {
    .nav-collapse.collapse {
        position: fixed;
        width: 200px;
        height: 100% !important;
        left: 0!important;
    }
}

/* invoive container*/
.box-invoice-data{
    padding: 10px;
}
.invoice_container{
    margin-bottom: 20px;
    position: relative;
}
.invoice_date{
    position: absolute;
    top:0;
    right:0;
}
.invoice_total_txt{
   text-align: right!important;
}
.invoice_container ul{
    padding: 0px;
    margin: 0px;
}
.invoice_container ul li{
     list-style:none;
}
.box-invoice-data .row{
    margin:0;
}
.col-sm-6{
    width: 49%;
    float:left;
}
.pdf-icon{
    background: url('../img/pdf-icon.png') no-repeat transparent 0 0;
    display:inline-block;
    width: 32px;
    height: 32px;
}
.form-horizontal{
    display:block;
}
.panel-field > .panel-heading {
    background-color: #e3e1f4;
    border-color: #beb9e6;
    color: #8d84cf;
}
.panel-estimates > .panel-heading {
    background-color: #f8e2da;
    border-color: #FEB69C;
    color: #fa8d65;
}

.form-inline .form-group{
    width: 100%;
}
/* the method */
.separator-1 h5 { width:100%; text-align:center; border-bottom: 1px solid #000; line-height:0.1em; margin:10px 0 20px; } 
.separator-1 h5 span { background:#F7F7F7; padding:0 10px; }

/*custom skin*/
.uiform-image-bg-preview{
    height: 40px;
    width: 40px;
    float:left;
    margin-right:10px;
    position: relative;
}
#uiform-del-bg-img{
    position: absolute;
    bottom: 0;
    left:0;
    font-size: 0.9em !important;
}
#uiform-image-bg-preview .fa-picture-o {
    font-size: 2em;
}
.help-inline{
    color:red;
}

/*Lets hide the non active LIs by default*/
#accordian ul{
   padding: 0px ! important;
}
#accordian li li {
    padding: 10px 0;
}
#accordian ul ul {
 display: none;
 border:1px solid #cccccc;
}
#accordian ul ul:first-child {
    border-bottom:none;
}
#accordian ul ul:last-child {
    border-top:none;
}
#accordian li.active ul {
 display:block;
}
#accordian h4{
    border-bottom: 1px solid #CDCDCD;
    box-shadow: 0 1px 0 #FFFFFF;
    position: relative;
    text-shadow: 0 1px #FFFFFF;
    background: -moz-linear-gradient(center top , #F8F8F8 0%, #E8E8E8 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #636363;
    min-height:30px;
    cursor: pointer;
    padding: 5px;
    margin:0px;
    border:1px solid #cccccc;
    border-top:none;
    position: relative;
}
#accordian h4 .accordion-icon{
    float:right;margin-right: 5px;
}
#uiform-skin-edit .form-group{
margin-top: 5px;    
}
#preview-container{
    position: relative;
}
#preview-container .uiform-container-inner{
    position: fixed!important;
    top:85px;
}
#preview-container .uiform-container-inner{
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 20px;
}
.uiform-section{
    padding-top: 20px;}
.icon-4x{
    font-size: 2em;
}
ul.inline li, ol.inline li{
    display:inline-block;
}

#dummy
{
    visibility: hidden!Important;
    height:1px;
    width:1px;
}
#sd-fields-available{
     
}
.sd-fields-available-fixed{
    position: fixed;
    top: 0;
    width: 20%;
}
#fAvailable-1{
    max-height: 700px;
    overflow-x: hidden;
}

#show-conditional-logic{
 background: #EEEEEE;
    padding: 20px 10px;   
}
.show_field_inputs,.show_field_match{
    display: inline-block;
}

.del-logic-conditional{
    color:red;
    margin-right: 10px;
}

/* skin page*/
.uiform-wrap .estimator-summary-fixed {
  /*  top: 87px!important;   */ 
}
/*user information*/
.form-user-info-side1{
    background: #ccc;
    padding: 10px;
}
.form-user-info-side1 ul li{
   clear: both;
    float: left;
}
.form-user-info-side2{
    background: #ccc;
    padding: 10px;
}
.form-user-info{
   max-width: 600px; 
}
.form-user-field{
   margin: 10px 0;
    padding: 0 10px 10px;
    background: #eee;
}
.form-user-field ul{
   
   min-height: 40px;
    border: 2px dotted #ccc;;
}
.form-user-field ul li{
  /* min-height: 40px;
  
   position: relative;*/
   
}
#formsortable-1{
 float: left;
    width: 100%;
}
.form-user-info-side1 h3{
    margin:0;
}
#form-sortable1{
    min-height: 500px;
    max-height: 700px;
    overflow-x: hidden;
}
.form-user-info-side1 li,.form-user-field ul li {
    width: 95%;
    border: 1px solid #BBBBBB;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
    cursor: move;
    display: inline-block;
    line-height: 22px;
    margin: 1px 2px;
    outline: medium none;
    padding: 0;
    text-align: left;
    text-shadow: 1px 1px 0 #FFFFFF;
}

.form-user-info-side1 li,.form-user-field ul li {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #50d2fa), color-stop(1, #50b1fa));
    background: -moz-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: -webkit-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: -o-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: -ms-linear-gradient(top, #50d2fa 5%, #50b1fa 100%);
    background: linear-gradient(to bottom, #50d2fa 5%, #50b1fa 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50d2fa', endColorstr='#50b1fa',GradientType=0);
    background-color: #50d2fa;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    color: #ffffff;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    padding: 9px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}
.placeholder-section{
    border:2px dotted #000;
    min-height: 20px;
    width: 100%;
    display:block;
}

.login-page-forgot-pass{
    float:right;
}
.recpass-message-txt{
    padding: 20px;
    color:#fff;
    text-align: center;
}

#uiform-container{
    margin-left:10px;
}

#form_succes_wd_cont{
     
}
#form_success_container{
   /*padding: 30px;*/
}
@media only screen and (min-width:0px) and (max-width:260px) {
    .sd-fields-available-fixed{
        position: relative!important;
        width: 100%!important;
    }
}

/* smartphone  - landscape 420px */
@media only screen and (min-width:0px) and (max-width:410px) {
    .sd-fields-available-fixed{
        position: relative!important;
        width: 100%!important;
    }
    
}