#for apache
#<FilesMatch ".(eot|otf|ttf|woff|woff2)">
#    Header always set Access-Control-Allow-Origin "*"
#</FilesMatch>

#For nginx configuration
#location ~* \.(eot|otf|ttf|woff|woff2)$ {
#    add_header Access-Control-Allow-Origin *;
#}