.rockfm-form-container .rockfm-val-error:focus{
   border-color: #E9322D!important;
    box-shadow: 0 0 6px #F8B9B7!important;  
}
.uiform-step-content{
    margin:0px;
}

.uiform-step-wizbuttons{
padding:0px;
}

/*fields*/
.rockfm-form-container .rockfm-field{
margin-bottom:5px;
}
/*radio button */
.radio-inline label, .checkbox-inline label {
    cursor: pointer;
    font-weight: normal;
}
/*validation*/
.rockfm-form-container .rockfm-val-error{
border: 1px solid #ff8787!important;
}
/* radio button option*/
.rockfm-form-container .rockfm-input2-wrap .radio:first-child,
.rockfm-form-container .rockfm-input2-wrap .checkbox:first-child
{
    margin-top:0px;
}
/*captcha*/
.rockfm-inp6-wrap-imagegen .rockfm-inp6-captcha-img{
    display:inline-block;
}
.rockfm-inp6-wrap-imagegen .rockfm-inp6-wrap-refrescaptcha{
    display:inline-block;
}
.rockfm-inp6-wrap-imagegen{
    margin-bottom: 10px;
}
.rockfm-inp6-wrap-input-source{
    
}
.rockfm-inp6-wrap-input-source .rockfm-inp6-captcha-inputcode{
    display: inline-block;
    width: 175px;
}
.rockfm-inp6-wrap-input-source .rockfm-inp6-captcha-label{
    font-size: 0.7em;
}
.rockfm-inp6-wrap-input-source .glyphicon-asterisk{
    font-size: 0.7em;
}
/*buton*/
.rockfm-submitbtn .btn{
    -moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    padding: 10px 24px 11px;
}

/*dropdown menu bootstrap for all html*/
.rockfm-form-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.rockfm-form-container .dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.rockfm-form-container .dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.rockfm-form-container .dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.rockfm-form-container .dropdown-menu > li > a:hover,
.rockfm-form-container .dropdown-menu > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.rockfm-form-container .dropdown-menu > .active > a,
.rockfm-form-container .dropdown-menu > .active > a:hover,
.rockfm-form-container .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
}
.rockfm-form-container .dropdown-menu > .disabled > a,
.rockfm-form-container .dropdown-menu > .disabled > a:hover,
.rockfm-form-container .dropdown-menu > .disabled > a:focus {
  color: #777;
}
.rockfm-form-container .dropdown-menu > .disabled > a:hover,
.rockfm-form-container .dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

/*divider*/
.rockfm-divider-bar{
    
    line-height: 0.1em;
    margin: 10px 0 20px;
    text-align: center;
    width: 100%;
}
.rockfm-divider-text{
    
    padding: 0 10px;
}
/* alerts*/
.rockfm-alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.rockfm-alert h4 {
  margin-top: 0;
  color: inherit;
}
.rockfm-alert > p,
.rockfm-alert > ul {
  margin-bottom: 0;
}
.rockfm-alert > p + p {
  margin-top: 5px;
}
.rockfm-alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.rockfm-alert-success hr {
  border-top-color: #c9e2b3;
}

/* global*/
.rockfm-form-container{
}
/*bugfix for some containers*/
.rockfm-form-container .uiform-wrap .row{
    display: inline-block;
    width: 100%;
}
/*field label*/
.rockfm-form-container .uiform-wrap .control-label i{
    display:inline-block;
}

/*image field*/
.rockfm-inp6-captcha-img{
    padding: 0 !important;
}

/*recaptcha field*/
.rockfm-input5-wrap{
    display:inline-block;
}
/*wizard buttons*/
.rockfm-wizardbtn .rockfm-btn-wizprev .rockfm-inp-lbl,
.rockfm-wizardbtn .rockfm-btn-wiznext .rockfm-inp-lbl
{
    display: inline-block;
}
.rockfm-wizardbtn .rockfm-btn-wiznext{
    margin-left:3px;
}
/*field heading*/
.rockfm-heading h1,
.rockfm-heading h2,
.rockfm-heading h3,
.rockfm-heading h4,
.rockfm-heading h5,
.rockfm-heading h6{
    margin-bottom: 0;
    margin-top: 0;
}

/*buttons field*/
button.btn img{
    background: none;
}

/*modal*/
.rockfm-field .modal{
    z-index: 9999!important;
}
/* field slider*/
.rockfm-input4-number{
    display:inline-block;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid #ccc;
    margin-right: 10px;
}
/*form container*/
.rockfm-form-container{
    text-align: left;
}
/*custom html*/
.rockfm-input3-customhtml{
   display: block;
    white-space: normal !important;
    
}
/*alert section*/
.rockfm-alert-inner .alert ul{
    padding-left: 20px;
}


/*switch field*/
.bootstrap-switch {
    background-clip: padding-box;
    border: 0 none;
    border-radius: 20px;
    min-width: 74px;
}
.bootstrap-switch.bootstrap-switch-focused {
    box-shadow: none;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch .bootstrap-switch-container {
    position: relative;
    z-index: 1;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-container {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-container {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch .bootstrap-switch-label:after {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 3px solid #5BC0DE;
    border-radius: 50%;
    content: " ";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 29px;
}
.bootstrap-switch.bootstrap-switch-large {
    min-width: 100px;
}
.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label:after {
    border-width: 4px;
    width: 42px;
}
.bootstrap-switch.bootstrap-switch-large.bootstrap-switch-on .bootstrap-switch-label:after {
    border-width: 4px;
}
.bootstrap-switch.bootstrap-switch-small {
    min-width: 60px;
}
.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label:after {
    width: 25px;
}
.bootstrap-switch.bootstrap-switch-mini {
    min-width: 44px;
}
.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label:after {
    width: 18px;
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label:after {
    border-color: #E3E3E3;
    left: 0;
}
.bootstrap-switch .bootstrap-switch-handle-on {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    padding-left: 6px;
}
.bootstrap-switch .bootstrap-switch-handle-off {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}
.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}
.bootstrap-switch .bootstrap-switch-label {
    position: relative;
}
.bootstrap-switch.bootstrap-switch-onclr-success.bootstrap-switch-on .bootstrap-switch-handle-on {
    background: none repeat scroll 0 0 #5CB85C;
}
.bootstrap-switch.bootstrap-switch-onclr-success.bootstrap-switch-on .bootstrap-switch-label {
    background: none repeat scroll 0 0 #5CB85C;
}
.bootstrap-switch.bootstrap-switch-onclr-success.bootstrap-switch-on .bootstrap-switch-label:after {
    border-color: #5CB85C;
}
.bootstrap-switch.bootstrap-switch-onclr-success.bootstrap-switch-off .bootstrap-switch-container {
    background: none repeat scroll 0 0 #5CB85C;
}
.bootstrap-switch.bootstrap-switch-onclr-info.bootstrap-switch-on .bootstrap-switch-handle-on {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-onclr-info.bootstrap-switch-on .bootstrap-switch-label {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-onclr-info.bootstrap-switch-on .bootstrap-switch-label:after {
    border-color: #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-onclr-info.bootstrap-switch-off .bootstrap-switch-container {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-onclr-warning.bootstrap-switch-on .bootstrap-switch-handle-on {
    background: none repeat scroll 0 0 #FF9900;
}
.bootstrap-switch.bootstrap-switch-onclr-warning.bootstrap-switch-on .bootstrap-switch-label {
    background: none repeat scroll 0 0 #FF9900;
}
.bootstrap-switch.bootstrap-switch-onclr-warning.bootstrap-switch-on .bootstrap-switch-label:after {
    border-color: #FF9900;
}
.bootstrap-switch.bootstrap-switch-onclr-warning.bootstrap-switch-off .bootstrap-switch-container {
    background: none repeat scroll 0 0 #FF9900;
}
.bootstrap-switch.bootstrap-switch-onclr-danger.bootstrap-switch-on .bootstrap-switch-handle-on {
    background: none repeat scroll 0 0 #DF4B33;
}
.bootstrap-switch.bootstrap-switch-onclr-danger.bootstrap-switch-on .bootstrap-switch-label {
    background: none repeat scroll 0 0 #DF4B33;
}
.bootstrap-switch.bootstrap-switch-onclr-danger.bootstrap-switch-on .bootstrap-switch-label:after {
    border-color: #DF4B33;
}
.bootstrap-switch.bootstrap-switch-onclr-danger.bootstrap-switch-off .bootstrap-switch-container {
    background: none repeat scroll 0 0 #DF4B33;
}
.bootstrap-switch.bootstrap-switch-onclr-default.bootstrap-switch-on .bootstrap-switch-handle-on {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-onclr-default.bootstrap-switch-on .bootstrap-switch-label {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-onclr-default.bootstrap-switch-on .bootstrap-switch-label:after {
    border-color: #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-onclr-default.bootstrap-switch-off .bootstrap-switch-container {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-offclr-primary.bootstrap-switch-off .bootstrap-switch-handle-off {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-primary.bootstrap-switch-off .bootstrap-switch-label {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-primary.bootstrap-switch-off .bootstrap-switch-label:after {
    border-color: #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-primary.bootstrap-switch-on .bootstrap-switch-container {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-info.bootstrap-switch-off .bootstrap-switch-handle-off {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-info.bootstrap-switch-off .bootstrap-switch-label {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-info.bootstrap-switch-off .bootstrap-switch-label:after {
    border-color: #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-info.bootstrap-switch-on .bootstrap-switch-container {
    background: none repeat scroll 0 0 #5BC0DE;
}
.bootstrap-switch.bootstrap-switch-offclr-success.bootstrap-switch-off .bootstrap-switch-handle-off {
    background: none repeat scroll 0 0 #5CB85C;
}
.bootstrap-switch.bootstrap-switch-offclr-success.bootstrap-switch-off .bootstrap-switch-label {
    background: none repeat scroll 0 0 #5CB85C;
}
.bootstrap-switch.bootstrap-switch-offclr-success.bootstrap-switch-off .bootstrap-switch-label:after {
    border-color: #5CB85C;
}
.bootstrap-switch.bootstrap-switch-offclr-success.bootstrap-switch-on .bootstrap-switch-container {
    background: none repeat scroll 0 0 #5CB85C;
}
.bootstrap-switch.bootstrap-switch-offclr-warning.bootstrap-switch-off .bootstrap-switch-handle-off {
    background: none repeat scroll 0 0 #FF9900;
}
.bootstrap-switch.bootstrap-switch-offclr-warning.bootstrap-switch-off .bootstrap-switch-label {
    background: none repeat scroll 0 0 #FF9900;
}
.bootstrap-switch.bootstrap-switch-offclr-warning.bootstrap-switch-off .bootstrap-switch-label:after {
    border-color: #FF9900;
}
.bootstrap-switch.bootstrap-switch-offclr-warning.bootstrap-switch-on .bootstrap-switch-container {
    background: none repeat scroll 0 0 #FF9900;
}
.bootstrap-switch.bootstrap-switch-offclr-danger.bootstrap-switch-off .bootstrap-switch-handle-off {
    background: none repeat scroll 0 0 #DF4B33;
}
.bootstrap-switch.bootstrap-switch-offclr-danger.bootstrap-switch-off .bootstrap-switch-label {
    background: none repeat scroll 0 0 #DF4B33;
}
.bootstrap-switch.bootstrap-switch-offclr-danger.bootstrap-switch-off .bootstrap-switch-label:after {
    border-color: #DF4B33;
}
.bootstrap-switch.bootstrap-switch-offclr-danger.bootstrap-switch-on .bootstrap-switch-container {
    background: none repeat scroll 0 0 #DF4B33;
}
.bootstrap-switch.bootstrap-switch-offclr-default.bootstrap-switch-off .bootstrap-switch-handle-off {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-offclr-default.bootstrap-switch-off .bootstrap-switch-label {
    background: none repeat scroll 0 0 #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-offclr-default.bootstrap-switch-off .bootstrap-switch-label:after {
    border-color: #E3E3E3;
}
.bootstrap-switch.bootstrap-switch-offclr-default.bootstrap-switch-on .bootstrap-switch-container {
    background: none repeat scroll 0 0 #E3E3E3;
}
/*alert section*/
.rockfm-alert-inner .alert ul{
    padding-left: 20px;
}

/*dyn checkbox*/
.uifm_frm_inp17_opt_imgitem{
    width: 60px;
    position: relative;
}
.uifm_frm_inp17_opt_imgitem_del{
    position: absolute;
    bottom: 31%;
    right:0;
    display:block;
}
.uifm_frm_inp17_opt_imgitem_del .btn{
    padding: 3px 5px;
}

.uifm_frm_inp17_opt_imgitem_addsrc{
    position: absolute;
    bottom: 0;
    right:0;
    display:block;
}
.uifm_frm_inp17_opt_imgitem_addsrc .btn{
    padding: 3px 5px;
}
.uifm-fld-inp17-options-row{
    background: #ececec ;
border: 1px solid #ccc;
margin-top: 10px;
padding: 14px 0;
}
.uifm_frm_inp17_opt_img_list_wrap{
    background: #efefef none repeat scroll 0 0;
border: 1px solid #fff;
padding: 5px;
}
.uifm_frm_inp17_opt_imgwrap{
    clear: both;
    margin-bottom: 5px;
    position: relative;
}
.uifm_frm_inp17_opt_imgwrap .col-md-3,
.uifm_frm_inp17_opt_imgwrap .col-md-8,
.uifm_frm_inp17_opt_imgwrap .col-md-1{
     padding: 0px;
}

.uifm_frm_inp17_opt_imgwrap .uifm_frm_inp17_opt_imgitem_title{
    min-height: 50px;
}
.uifm-dcheckbox-item-qty-num{
    border:1px solid #ccc !important;
    font-size: 14px !important;
    width: 51px!important;
    padding: 0px!important;
}
.uifm-dcheckbox-item-viewport{
 cursor: pointer;   
}

/*info record*/
.uiform-inforecord-total-amount{
   clear: both;
    float: left;
    font-size: 20px;
    padding-top: 12px;
}



/*slider field*/
.slider.slider-horizontal{
    min-width: 137px;
    width: auto!important;
}
/*form*/
.uiform-main-form{
    position: relative;
}

/*modal */
.sfdc-modal-open .sfdc-modal{
   overflow-y:auto !important; 
}

/*spaces*/
.uiform-wrap .space05 {
    height: 5px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.uiform-wrap .space10 {
    height: 10px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.uiform-wrap .space13 {
    height: 12px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.uiform-wrap .space20 {
    height: 20px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

/*datepicker*/
/*it allows to overlay on other fields*/
.rockfm-datepicker.rockfm-field{
    z-index:1;
}