@import "https://fonts.googleapis.com/css?family=Raleway:300,600,800,900";

body {
    padding-bottom: 30px;
    background: #DDDDDD;
    font-family: "Raleway",Helvetica,Arial,sans-serif;
}
a {
   outline: 0!important;
}
.theme-dropdown .dropdown-menu {
    display: block;
    position: static;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

body #wrap {
    background: none repeat scroll 0 0 #EEEEEE;
}
/* Sticky footer styles
-------------------------------------------------- */
html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */;
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
/* Negative indent footer by its height */
    margin: 0 auto -60px;
/* Pad bottom by footer height */
    padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
    height: 60px;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

code {
    font-size: 80%;
}

/* global*/
.space05 {
    height: 5px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.space10 {
    height: 10px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.space13 {
    height: 12px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.space20 {
    height: 20px;
    border: none;
    display: block;
    padding: 0;
    clear: both;
}

.separator1 {
    margin: 20px 0;
    height: 5px;
    width: 100%;
    display: block;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-image: url("../img/separator1.png");
}

.separator2 {
    margin: 20px 0;
    height: 5px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.9) inset;
}

label, input, button, select, textarea {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}

.cst-price {
    color: red;
    font-family: arial;
}
/*content*/
.wrapper {
    box-shadow: 0 0 0 0 #FFFFFF, 0 0 0 0 #FFFFFF, 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.wrapper-white {
    background-color: #FFFFFF;
}
/*footer*/
#footer .container {
    background: none repeat scroll 0 0 #DDDDDD;
    border-top: 1px solid #CCCCCC;
    padding: 15px;
}


.contact-method label {
    clear: none;
    width: auto;
}

.contact-method input {
    float: none;
    width: 20px;
}

.title-box {
    clear: both;
    display: block;
    margin-bottom: 10px;
    text-align: center;
}

.title-box h1 {
    display: inline-block;
    margin-top: 10px;
}



.block1 .title1 {
    font-family: 'Bree Serif', serif;
    font-weight: bold;
    font-size: 15px;
    line-height: 34px;
    color: #414848;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.block1 {
    background: none repeat scroll 0 0 #D4DEDF;
    border-top: 1px solid #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15) inset;
    display: inline-block;
    float: left;
    min-height: 30px;
    overflow: auto;
    text-align: center;
    padding: 0px 10px;
    -moz-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 1px 0 rgba(0,0,0,0.15);
}

.block2 {
    margin-right: 10px;
    overflow: hidden;
}
.block2 .est-summary-wrap .dinamic-tip{
   /* line-height: 55px;
    margin-right: 10px;*/
}
.block2 .est-options {
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #9d9e9e;
    text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
    display: inline-block;
    
    margin-left: 10px;
}

.block2 .total-label {
    border-left: 1px solid #FFFFFF;
    font-size: 20px;
    padding-left: 10px;
}


/*big icons*/
.jumbotron-icon {
    background-color: #E6E6E6;
    background-image: linear-gradient(-40deg, #EEEEEE, #E6E6E6);
    background-repeat: repeat-x;
    border-bottom: 1px solid #C4C4C4;
    color: #222222;
    padding: 20px 0 30px;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.jumbotron-icon h1 {
    color: #222222;
    font-size: 40px;
}

.jumbotron-icon h1 small {
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    letter-spacing: normal;
    margin-left: 20px;
}

.jumbotron-icon .info-details {
    float: left;
}

.jumbotron-icon .info-details p {
    font-weight: bold;
    margin: 25px 0;
}

.jumbotron-icon .info-details .dl-horizontal dt {
    width: 80px;
}

.jumbotron-icon .info-details .dl-horizontal dd {
    margin-left: 95px;
}

.jumbotron-icon .icon-2 {
    font-size: 2em;
}

.jumbotron-icon .icon-3 {
    font-size: 4em;
}

.jumbotron-icon .icon-4 {
    font-size: 7em;
}

.jumbotron-icon .icon-5 {
    font-size: 12em;
}

.jumbotron-icon .icon-6 {
    font-size: 20em;
}

.jumbotron-icon .icon-1, .jumbotron-icon .icon-2, .jumbotron-icon .icon-3, .jumbotron-icon .icon-4, .jumbotron-icon .icon-5, .jumbotron-icon .icon-6 {
    margin-right: 0.0714286em;
}

#box-estimator .row {
    clear: both;
}
.cest-custom-slider-wrap{
    float:left;
    width: 100%;
}
.cest-custom-slider-sel{
    float: left;
    height: auto !important;
    padding: 0 !important;
    width: 65px;
}
.cest-custom-slider{
    margin-top: 3px;
}
.cest-custom-slider .ui-slider-horizontal{ margin:0 10px 0 75px!important;height: 15px!important;}
.cest-custom-slider .ui-slider-range{
   
    height: 15px;
background: linear-gradient(#D0D0D0, #DFDFDF) repeat scroll 0 0 #D6D6D6!important;
}
.cest-custom-slider .ui-slider-handle{height: 28px!important;
                 width: 28px!important;
                 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                 border-radius: 1em;border:1px solid #CCCCCC;
                 background: linear-gradient(#FFFFFF, #F1F1F1) repeat scroll 0 0 #EEEEEE!important;
}
.cest-custom-slider a.ui-slider-handle:hover,
.cest-custom-slider a.ui-slider-handle:visited
{
    border: 1px solid 		#bbb /*{c-bhover-border}*/!important;
	background: 			#dfdfdf /*{c-bhover-background-color}*/!important;
	font-weight: bold;
	color: 					#222 /*{c-bhover-color}*/!important;
	text-shadow: 0 /*{c-bhover-shadow-x}*/ 1px /*{c-bhover-shadow-y}*/ 0 /*{c-bhover-shadow-radius}*/ #fff /*{c-bhover-shadow-color}*/!important;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #f6f6f6 /*{c-bhover-background-start}*/), to( #e0e0e0 /*{c-bhover-background-end}*/))!important; /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/)!important; /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/)!important; /* FF3.6 */
	background-image:     -ms-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/)!important; /* IE10 */
	background-image:      -o-linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/)!important; /* Opera 11.10+ */
	background-image:         linear-gradient( #f6f6f6 /*{c-bhover-background-start}*/, #e0e0e0 /*{c-bhover-background-end}*/)!important;
}
.cest-custom-slider .ui-slider-horizontal .ui-slider-handle{
    outline: 0 none;
    top:-0.5em!important;
}
.vcest_field_wrap_images{
    clear: both;
    display:block;
    float:left;
    width: 100%;
}
ul.vcest_field_img_group li{
    /*float:left;*/
   /* margin-bottom: 3px;*/
}
ul.vcest_field_img_group li a{
    outline: none;
}
ul.vcest_field_img_group li img{
    width: 100%;
    outline: none;
}
.wrap-field-options{
    clear:both;
}
.containing-element .ui-slider-switch { width: 9em }
 /* Styles for dialog window */
 .dinamic-tip i:hover {
     color:#FFC90E;
     font-size: 1.2em;
 }
 
.vce-dialog {
background: white;
padding: 20px 30px;
text-align: left;
max-width: 700px;
margin: 40px auto;
position: relative;
}
.vce-dialog img {
}
/**
* Fade-zoom animation for first dialog
*/
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
opacity: 0;
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
opacity: 1;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
-o-transform: scale(1);
transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
-webkit-transform: scale(0.8);
-moz-transform: scale(0.8);
-ms-transform: scale(0.8);
-o-transform: scale(0.8);
transform: scale(0.8);
opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
opacity: 0;
-webkit-transition: opacity 0.3s ease-out;
-moz-transition: opacity 0.3s ease-out;
-o-transition: opacity 0.3s ease-out;
transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
opacity: 0;
}
/* invoive container*/
.invoice_container{
    margin-bottom: 20px;
    position: relative;
}
.invoice_date{
    position: absolute;
    top:0;
    right:0;
}
.invoice_total_txt{
   text-align: right;
}
.invoice_container ul{
    padding: 0px;
    margin: 0px;
}
.invoice_container ul li{
     list-style:none;
}
/*horizontal tab*/
.resp-tab-item{
    background: #eeeeee;
}
.payment-wrap{
    background: #dddddd;
    padding: 10px;
}
.payment-icon{
    display: inline-block;
    height: 13px;
    position: relative;
    width: 50px;
}
.paypal-img{
    background: url('../img/paypal.png') no-repeat transparent 0 0;
    display:inline-block;
    width: 50px;
    height: 31px;
    position: absolute;
    top:-3px;
    left:0;
}
.icon-2x {
    font-size: 2em;
}
.icon-3x {
    font-size: 3em;
}
.icon-4x {
    font-size: 4em;
}
/* tablet full size */
@media only screen and (max-width:1024px) {
}
/*  tablet  - smaller than 959px */
@media only screen and (min-width:768px) and (max-width:959px) {
}
/* phone - portrait 300px */
@media only screen and (max-width:767px) {
}

@media only screen and (min-width:0px) and (max-width:260px) {
    .estimator-summary .block1{
        display:none;
    }
}

/* smartphone  - landscape 420px */
@media only screen and (min-width:0px) and (max-width:410px) {
 
    #total-pages {
        display: none;
    }

    .estimator-summary {
        width: 100%;
        margin-bottom: 10px;
    }

    .estimator-summary-fixed {
        width: 90%!important;
    }
}

.zgfm-credit-company{
    float:left;
    display:block;
}
.zgfm-credit-log-wrapper{
    float:right;
    display:block;
}

.zgfm-credit-log-wrapper img{
    /* Required for IE 5, 6, 7 */
	/* ...or something to trigger hasLayout, like zoom: 1; */
	width: 100%; 
		
	/* Theoretically for IE 8 & 9 (more valid) */	
	/* ...but not required as filter works too */
	/* should come BEFORE filter */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	
	/* This works in IE 8 & 9 too */
	/* ... but also 5, 6, 7 */
	filter: alpha(opacity=30);
	
	/* Older than Firefox 0.9 */
	-moz-opacity:0.3;
	
	/* Safari 1.x (pre WebKit!) */
	-khtml-opacity: 0.3;
    
	/* Modern!
	/* Firefox 0.9+, Safari 2?, Chrome any?
	/* Opera 9+, IE 9+ */
	opacity: 0.3;
}