
.uifm-dcheckbox-group{
    
}
.uifm-dcheckbox-item{
    position: relative;
    display:inline-block;
    margin: 10px 20px 10px 0px;
    
}
.uifm-dcheckbox-item:first-child{margin-left: 0px;}
.uifm-dcheckbox-item:last-child{margin-right: 0px;}
.uifm-dcheckbox-item .uifm-dcheckbox-item-viewport{ display: block;}
.uifm-dcheckbox-item-chkst{
  
    border-radius: 4px 0 0;
    bottom: 0;
    color: #000;
    display: block;
    height: 23px;
    padding: 1px 3px;
    position: absolute;
    right: 0;
    width: 24px;
    cursor: pointer;
}

.uifm-dcheckbox-item-qty-wrap{
   border-radius: 5px;
    color: #ccc;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    text-align: center;
    top: -13px;
}
.uifm-dcheckbox-item-qty-wrap div{
    display: inline-block;
}
.uifm-dcheckbox-item-chkst .fa-check-square-o,
.uifm-dcheckbox-item-chkst .fa-square-o{
    font-size: 23px;
}



.uifm-dcheckbox-item-showgallery{
  border-radius: 10px;
    bottom: 0;
    cursor: pointer;
    display: block;
    height: 22px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 22px;
}
.uifm-dcheckbox-item-nextimg{
    border-radius: 10px;
    bottom: 50%;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: -9px;
    text-align: center;
    width: 20px;
    display: none;
}
.uifm-dcheckbox-item-previmg{
    border-radius: 10px;
    bottom: 50%;
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    left: -9px;
    text-align: center;
    width: 20px;
    display: none;
}

.uifm-dcheckbox-item:hover .uifm-dcheckbox-item-previmg,
.uifm-dcheckbox-item:hover .uifm-dcheckbox-item-nextimg
{
    display: block;
}
/*spinner on top*/
.uifm-dcheckbox-item-qty-wrap .btn{
    padding: 4px 8px !important;
    margin: 0px !important;
    font-size: 10px !important;
}
.uifm-dcheckbox-item-qty-num{
    color: #000!important;
    display: block;
    font-size: 14px;
    height: 24px!important;
    text-align: center;
    width: 50px;
    margin:0px !important;
    background:#ffffff!important;
}
.uifm-dcheckbox-item-qty-wrap .dcheckbox-disabled{
    color:#ccc;
}

.uifm-dcheckbox-item-wrap{
    position:relative;
}