
.uifm-dradiobtn-item{
    position: relative;
    display:inline-block;
    margin: 10px 20px 10px 0px;
}
.uifm-dradiobtn-item:first-child{margin-left: 0px;}
.uifm-dradiobtn-item:last-child{margin-right: 0px;}
.uifm-dradiobtn-item .uifm-dcheckbox-item-viewport{ display: block;}

.uifm-dradiobtn-item:hover .uifm-dcheckbox-item-previmg,
.uifm-dradiobtn-item:hover .uifm-dcheckbox-item-nextimg
{
    display: block;
}
.uifm-dcheckbox-item-chkst .fa-check-circle-o,
.uifm-dcheckbox-item-chkst .fa-circle-o{
    font-size: 23px;
}
